{# templates/category/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="container">
            <div class="masonry-grid">
                {% for gallery in galleries %}
                    {% set image = gallery.featuredImage ?? gallery.images|first %}

                    {% if image %}
                        <a href="{{ path('app_gallery', { id: gallery.id, slug: gallery.slug }) }}" class="grid-item-link">
                            <div class="grid-item">
                                <img src="{{ asset('uploads/images/' ~ image.filename) | imagine_filter('gallery_large') }}" alt="{{ gallery.title|default('Image') }}">
                                <div class="caption">
                                    <div class="brand-name">{{ gallery.title }}</div>
                                    {% if gallery.description %}
                                        <div class="description">{{ gallery.description }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
