{{ form_start(form, { attr: { id: 'gallery-form' } }) }}

<div class="mb-3">
    {{ form_row(form.title) }}
</div>

<div class="mb-3">
    {{ form_widget(form.slugAuto, { attr: { class: 'form-check-input', id: 'slugAutoSwitch' } }) }}
</div>

<div class="mb-3">
    {{ form_row(form.slug) }}
</div>

<div class="mb-3">
    {{ form_row(form.description) }}
</div>

<div class="mb-3">
    {{ form_row(form.visibleInNavigation) }}
</div>

<div class="mb-3">
    {{ form_row(form.category) }}
</div>

<div class="mb-3">
    {{ form_row(form.featuredImageFile) }}
</div>

{#<div class="mb-3">
    <img src="{{ vich_uploader_asset(gallery.featuredImage, 'imageFile') | imagine_filter('thumb') }}" width="100" alt="Image">
</div>#}

<div class="mb-3">
    {{ form_row(form.imagesFiles) }}
</div>

<div class="mb-3">
    <div class="row flex justify-content-start flex-wrap" id="gallery-images">
        {% for image in gallery.images %}
            <div class="col image-container" style="width: 100px; flex: none; margin: 5px;" data-image-id="{{ image.id }}">
                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb') }}" width="100" alt="Image">

                <a href="{{ path('app_image_delete', {id: image.id}) }}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">
                    Supprimer
                </a>
            </div>
        {% endfor %}
    </div>
</div>



<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
